.section{
    background-color:  #203A5C;
    color: white;
    height: 100vh;
}

.contactForm{
    width: 500px;
    font-size: 20px;
}

.form-input{
    width: 600px;
    margin-bottom: 25px;
    
}

textarea {
    height: 150px;
}

.postBtn{
    width: 600px;
    height: 45px;
}

.profile{
    margin-top: 15px;
    margin-left: 20px;
    width: 155px;
    height: 160px;
    border-radius: 50%
}

.Containers{
    padding-left: 250px;
    padding-top: 25px;
    padding-right: 250px;
}

/* .aboutMeHeader{
    font-size: 55px;
} */

.aboutMeContent{
    font-size: 25px;
    text-align: left;
}